html{
  font-family: lucinda, monospace;
}

h1{
  text-align: center;
}

table, th, td {
  border: 1px solid blue;  /*turn off borders = 1 orig*/
}

.intro {
  background-color: white;
  width: 1000px;
  border: 5px solid teal;  /*turn off borders = 5 orig*/
  padding: 5px;  
  margin: 5px;
}

.whattodo {
  background-color: white;
  width: 1000px;
  height: 100px;
  border: 5px solid yellowgreen;  /*turn off borders = 5 orig*/
  padding: 20px;
  margin: 5px;
}

.pic {
  background-color: white;
  width: 1000px;
  border: 5px solid magenta; /*turn off borders = 5 orig*/
  padding: 5px;
  margin: 5px;
}

.preparation{
  background-color: white;
  width: 1000px;
  border: 5px solid green;  /*turn off borders = 5 orig*/
  padding: 10px;
  margin: 5px;
}

.ratethisrecipe{
  width: 1000px;
  height: 200px;
  border: 5px solid darkgoldenrod; /*turn off borders = 5 orig*/
  padding:20px;
  margin: 5px;
}

.conversion{
  background-color: white;
  width: 1000px;
  border: 5px solid cyan;  /*turn off borders = 5 orig*/
  padding: 20px;
  margin: 5px;
}

.ingredients{
  background-color: white;
  width: 1000px;
  border: 5px solid orange;  /*turn off borders = 5 orig*/
  padding: 5px;
  margin: 5px;
}

.directions{
  background-color: white;
  width: 1000px;
  border: 5px solid rosybrown;  /*turn off borders = 5 orig*/
  padding: 5px;
  margin: 5px;
}

.nutritionfacts{
  background-color: white;
  width: 1000px;
  border: 5px solid maroon;  /*turn off borders = 5 orig*/
  padding: 5px;
  margin: 5px;
}

* {
  box-sizing: border-box;
}

.wrappersaverateprintshare {
  width : 110px;
  border-radius: 10px;
  background-color: rgb(207 232 220);
  padding: 1em;
}

.wrappersaverateprintshare {
  /*display: flex;*/
  float:left;
}

* {
  box-sizing: border-box;
}

.wrappereasyintermediatehard {
  width : 400px;
  padding: 1em;
}

.wrappereasyintermediatehard {
  /*display: flex;*/
  float:left;
}

.goldbar{
        height: 10px;
        background-color:  #5a4d02;
        border: none;
    }